.Sidebar{
    height: 814px;
    width: 288px;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:30px;
    margin-left: 30px; 
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.edit{
    background-color: #016450 ;
    color: #fff;
    border: none;
    width: 135px;
    margin: 0 76.5px;
}
.edit:hover{
    color: #016450 !important;
    background-color: #fff !important;
}
.profile-container{
    height: 145px;
    width:158px;
    margin: 0 65px;
}
.pcontainer2{
    margin: 0 65px;
}
.name{
    font-family: Medium;
    font-size: 18px;
    width: 158px;
}
.type{
    color: #767676;
    font-family: Book;
    margin: 0 33.5px;
    font-size: 16px;
}
#dp{
    border-radius:50%;
    height:78px;
    width:78px;
    margin-left: 40px; 

}
.camera-button{
    border-radius:50%;
    height:20px;
    width: 20px;
    color:#016450;
}
.profile-menu{
    margin: 0 15px;
    height:449px;
    width: 248px;
}
.profile-item{
    display: flex;
    justify-content: space-between;
    height:50px;
    border-top: 1px solid #E8E8E8;
}
.profile-item span{
    height:26px;
    width:173px;
    font-size: 16px;
    margin: 12px auto;
    font-family: Book;
}
.profile-btn{
    height:24px;
    width:24px;
    margin:13px auto;
    align-items: center;
    border: none;
}
.fontAwesomeIcon {
    height:24px;
    width: 24px;
    color: #A3A3A3;
}
.camIcon {
    height:24px;
    width: 24px;
    color: #016450;
    position: relative;
    margin-left: 100px;
    margin-top: 90px; 
    z-index: 1;
}

.profile-icon{
     position: absolute;
     margin-top:40px;
}
.link-container {
    height:74px;
    width: 248px;
    margin: 0 20px;
}
.link-container p{
    font-family: Medium;
    font-size: 14px;
    width:68px;
    height:22px;
    color:#484848;
    text-align: left;
      
}
.input-container {
    display :flex;
    flex-direction: row;
    height: 50px;
    width:248px;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
 }
.link-container input{
    height:25px;
    width: 177px;
    margin: 12.5px 0 12.5px auto;
    border: none;
}
.link-container button{
    height:50px;
    width: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    
 }
 .i{
    opacity: 0.1;
    background-color: inherit;
 }
 #link{
     color: #226EC7;
 }