.main{
    margin-left: 27px;
    background-color: #FDFDFD;
    width: 919px;
    height: 814px;
    margin-top: 110px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.Item{
    background-color: #FFFFFF;
    width: 269px;
    height: 175px;
    margin-left: 8px;
    border-radius: 6px;
    border: 1px solid #EAEDF3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;

}
.Item2{
    background-color: #FFFFFF;
    width: 269px;
    height: 175px;
    margin-left: 8px;
    border-radius: 6px;
    border: 1px solid #EAEDF3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px 12px 12px 12px;
    

}
.progress-container{
    display: flex;
    flex-direction: row;
    height: 176px; 
    justify-content: space-evenly;
    margin: 30px 32px 0px 30px;
}
.chart-container{
    display: flex;
    flex-direction: row;
    height: 260px; 
    justify-content: space-between;
    margin: 30px 32px 0px 30px;
    padding-bottom: 30px;
}
.graph{
    width:130px;
    height: 130px;
}
.line-graph{
   width: 554px;
   height: 260px;
   background-color: #FFFFFF;
   padding: 0 0 20px 0;
}
.line-graph span{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 4px;
    width: 100%;
    /* border: 1px solid #016450; */
}
.linear{
    width: 487px;
    height: 131px;
    margin-bottom: 10px;
}
.board{
    display: flex;
    flex-direction: row;
    padding: 24px 24px;
}
.board-container{
    background-color:#FFFFFF;
    border-top: 1px solid #EAEDF3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:60px;
    border-bottom:1px solid #EAECEE;
    padding: 12px 12px;
}
.head .btn1{
    background-color: #016450;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    color: white;
    border: none;

}
.btn1 i{
    width: 16px !important;
    height: 16px !important;
}
.head .btn2{
    background-color: #FACF55;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    border: none;

}
.btn2 i{
    width: 16px !important;
    height: 16px !important;
    
}
 
#userIcon{
    color: white;
}
.barImg{
    width:195px;
    height: 35px;
}
.myLine1 {
    color: #9EA0A5;
  }
 
.title{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 36px;
    padding: 2px 10px;
}
.name{
    color: #3E3F42;
    font-size: 16px;
    font-family: Medium;
    height:22px;
}
.value{
    color: #A3A3A3;
    font-size: 12px;
    height: 17px;
    font-family: Book;
}

.Progress-top{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.p1{
    font-family: Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}
.p2{
font-family: Book;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 180%;
text-align: right;
color: #9EA0A5;
}
.p3{
    font-family: Bold;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 127%;
color: #1A1A1A;
}
.p4{
    font-family: Book;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    text-align: right;
    color: #A3A3A3;
    }
.p5{
    font-size:14px;
    font-family: Book;
    color: #348373;
    margin-top:12px;
}
.p6{
    font-size:14px;
    font-family: Book;
    color: #FF8433;
    margin-top:12px;
}
 
#file{
    height: 4px;
    background-color: #016450;
    border-radius: 4px;
    width: 221px;
}
.Progress-middle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.Progress-bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}