 
 
*{
	margin:0;
	padding:0;

	box-sizing: border-box;
}
.container{
	max-width: 1170px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	/* background-color: #f8f8f8; */
    /* margin:0px 183px ; */
    width: 1234px;
    height: 280px;
    border-radius:6px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #1A1A1A;
    font-family: Medium;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
 
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #767676;
	display: block;
	 
}
.social{
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
}
.social a {
	 justify-content:center;
}
.f{
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #098B71;
    background-color: #FFF;
	padding-top:5px;
	
}
.ig{
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
    background-color: #098B71;
	padding-top:5px;
}
 
.pmedia{
    color:#767676;
    margin-top: 52px;
    font-size:16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.allrights{
    margin: 20px  auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.priv{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.priv li{
    list-style-type: disc; 
}
.priv ul{
    justify-content:space-between;

}
 
.priv a{
	text-decoration: none;
    color: #484848;
    font-size: 14px;
}